In [1]:
import pandas as pd
import numpy as np

In [21]:
data= pd.read_csv('illiteracy.txt', sep = '\t', header = 0, parse_dates = [2])
data.Births=data.Births.astype(float)
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [30]:
print ("Task4=",round(data.corr().iloc[0,1],4))

Task4= 0.7687

In [35]:
print ("Task5=",round(data.corr(method='spearman').iloc[0,1],4))

Task5= 0.753